<% layout('layouts/boilerplate') %>

<%- include('../partials/navbar') %>

<div>
    <a href="feedback/uploadTrack" id="articleSubmit" style="margin-right: 20px;">Upload Track For Feedback</a>
</div>
<div class="container">
   
    <div style="padding-top:80px; display: flex; flex-wrap:wrap; justify-content: center;">
    
    
        <% for(let track of tracks){ %>
            <div class="articlePost" style=" " >
                <img src="/images/bcb24d828f583977847aabfbc2d4826f57051e9db2b7a0d69b5561fd534202a7aec4d86c91374ab503a0d2117445be2ef7b2fd65fd19f226a9750c_1280.jpg" alt="" style="height: 120px; width:220px;">
    
                    <h4><%= track.name %></h4>
                    <p><%= track.description %></p> 
                    <p><%= track.date.toLocaleDateString() %></p>
                    <% if(currentUser && currentUser.role == "Producer") {%>
                    <div> 
                        <a style=" float:none; margin-bottom: 50px;" href="/feedback/new/<%= track.id %>" id="">Give feedback</a>
                    </div>
                    <div> 
                        <a style=" float:none" href="/feedback/new/<%= track.id %>/edit" id="">Edit feedback</a>
                    </div>
                    <% } %>
                    <div>
                        <a style=" float:none" href="/feedback/details/<%= track.id %>" id="">Check feedback</a>
                    </div>
                
                </div>
        <% } %>
    






</div>