<% layout('layouts/boilerplate') %>

<%- include('../partials/navbar') %>


<div class="container" >
    <div >
        <% if(currentUser && currentUser.role == "Producer") {%>
            <a  href="/blog/new" id="articleSubmit">Create New Article</a>
        <% } %>
    </div>
    <div style="padding-top:50px; display: flex; flex-wrap:wrap;">
    

    <br><br>

    <% for(let blog of blogs){ %>
        <div class="articlePost" >
            <img src="<%= blog.imageUrl %>" alt="" style="height: 150px; width:250px;">

                <h4><%= blog.topic %></h4>
                <p>By <%= blog.author.username %></p> 
                <p><%= blog.date.toLocaleDateString() %></p>
                <div>
                    
                    <a style=" float:none" href="/blog/<%= blog.id %>" id="articleSubmit">Read More</a>
                </div>
            
            </div>
    <% } %>

    
    



</div>


</div>